@charset "UTF-8";

@mixin pad {
    @media (max-width:768px) {
        @content;
    }
}

@mixin sp {
    @media (max-width:375px) {
        @content;
    }
}
html{
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{
    font-family: 'Kanit', sans-serif;
    header{
        .sp-header{
            display: none;
            @include sp{
                display: block;
                max-width: 100%;
                height: 48px;
                border-bottom: 1px solid #000;
                padding: 8px;
                background-color: #F0F0F0;
                &-wrapper{
                    .sp-header-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                        .sp-title-logo{
                            #sp-nav-title{
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
        .nav{
            #nav-tgl{
                display: none;
            }
            .nav-tgl-btn{
                display: none;
            }
            .nav-wrapper{
                position: fixed;
                width: 300px;
                height: 100vh;
                border-right: 3px solid black;
                .title-logo{
                    display: inline-block;
                    position: absolute;
                    top: 50px;
                    left: 50px;
                    #nav-title{
                        font-weight: normal;
                        font-size: 36px;
                        line-height: 54px;
                        text-align: center;
                        letter-spacing: 0.1em;
                    }
                }
                .nav-list{
                    position: absolute;
                    top: 244px;
                    left: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 32px;
                    width: 160px;
                    height: 640px;
                    a{
                        text-decoration: none;
                        li{
                        width: 160px;
                        height: 80px;
                        text-align: center;
                        opacity: 0.3;
                            &:hover{
                                margin: -2px 2px 2px -2px;
                                background-color: rgba($color: #F0F0F0, $alpha: 0.8);
                                opacity: 1;
                                border-radius: 10px;
                                box-shadow: 4px 4px 10px rgba($color: #333333, $alpha: 0.5);
                            }
                            p{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 26px;
                                line-height: 80px;
                                letter-spacing: 0.1em;
                                color: #3C3C3C;
                            }
                        }
                        & + a{
                            margin-top: 60px;
                        }
                    }
                }
                .insta-box{
                    margin-top: 20px;
                    a{
                        display: block;
                        margin: auto;
                        color: #3C3C3C;
                        &:hover{
                            margin: -2px 2px 2px -2px;
                            background-color: rgba($color: #F0F0F0, $alpha: 0.8);
                            border-radius: 10px;
                            box-shadow: 4px 4px 10px rgba($color: #333333, $alpha: 0.5);
                        }
                        .insta-icon{
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .fab{
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
        @include pad{
            .nav{
                .nav-wrapper{
                    width: 200px;
                    .title-logo{
                        top: 33px;
                        left: 33px;
                        #nav-title{
                            font-size: 24px;
                            line-height: 36px;
                            letter-spacing: 0.05em;
                        }
                    }
                    .nav-list{
                        top: 150px;
                        left: 33px;
                        margin-top: 21px;
                        width: 106px;
                        a{
                            li{
                                width: 106px;
                                height: 53px;
                                p{
                                    font-weight: bold;
                                    font-size: 17px;
                                    line-height: 53px;
                                    letter-spacing: 0.05em;
                                }
                            }
                            & + a{
                                margin-top: 100px;
                            }
                        }
                    }
                    .insta-box{
                    margin-top: 60px;
                        a{
                            .insta-icon{
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .fab{
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include sp{
            .nav{
                .scroll-prevent {
                    position: fixed;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                }
                #nav-tgl {
                    display: none;
                }
                .nav-tgl-btn {
                    display: inline-block;
                    cursor: pointer;
                    position: fixed;
                    top: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                }
                .open {
                    z-index: 999;
                    width: 48px;
                    height: 48px;
                    background: #000;
                    transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
                .open::before,
                .open::after {
                    content: "";
                }
                .open span,
                .open::before,
                .open::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 1px);
                    right: 30%;
                    width: 40%;
                    border-bottom: 2px solid white;
                    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
                .open::before {
                    transform: translateY(-8px);
                }
                .open::after {
                    transform: translateY(8px);
                }
                .close {
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    transition: background .6s;
                }
                #nav-tgl:checked + .open {
                    background: #dd4884;
                }
                #nav-tgl:checked + .open span {
                    transform: scaleX(0);
                }
                #nav-tgl:checked + .open::before {
                    transform: rotate(45deg);
                }
                #nav-tgl:checked + .open::after {
                    transform: rotate(-45deg);
                }
                #nav-tgl:checked ~ .close {
                    pointer-events: auto;
                    background: rgba(0,0,0,.3);
                }

                .nav-wrapper {
                    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
                }
                #nav-tgl:checked ~ .nav-wrapper {
                    transform: translateX(-100%);
                }



                /* メニューデザイン */
                .nav-wrapper {
                    width: 100%;
                    z-index: 998;
                    position: fixed;
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;
                    /* overflow-scrolling: touch; */
                    top: 0;
                    left: 100%;
                    transform: translateX(100%);
                    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    background-color: #ecf0f1;
                    border-right: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .title-logo{
                        margin-top: 48px;
                        position: static;
                        #nav-title{
                            font-size: 24px;
                            line-height: 36px;
                            letter-spacing: 0.05em;
                        }
                    }
                    .nav-list{
                        position: static;
                        margin-top: 3%;
                        width: 100%;
                        a{
                            li{
                                width: 106px;
                                height: 53px;
                                p{
                                    font-weight: bold;
                                    font-size: 17px;
                                    line-height: 53px;
                                    letter-spacing: 0.05em;
                                }
                                ::before,
                                ::after{
                                    display: block;
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    background-color: #000;
                                }
                                &:hover{
                                    ::before,
                                    ::after{
                                    width: 0;
                                    }
                                }
                            }
                            & + a{
                                margin-top: 5%;
                            }
                        }
                    }
                    .insta-box{
                        position: static;
                        margin-top: 60px;
                        a{
                            .insta-icon{
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .fab{
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        margin-left: 300px;
        @include pad{
            margin-left: 200px;
        }
        @include sp{
            margin-left: 0;
        }
        .content-box{
            max-width: 100%;
            min-height: 500vh;
            section{
                min-height: 100vh;
                padding-top: 40px;
                .sub-title-box{
                    margin: auto;
                    width: 200px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    box-shadow: 4px 4px 10px #3c3c3c;
                    .sub-title{
                        font-size: 30px;
                        letter-spacing: 0.1em;
                        font-weight: bold;
                    }
                }
                border-bottom: 1px solid #000;
                @include pad{
                    .sub-title-box{
                        width: 160px;
                        height: 60px;
                        border-radius: 7px;
                        box-shadow: 2px 2px 5px #3c3c3c;
                        .sub-title{
                            font-size: 24px;
                        }
                    }
                }
            }
            #top{
                background-image: url('../img/top-bg.jpg');
                background-size: cover;
                background-position: center;
                @include sp{
                    min-height: 40vh;
                }
                #catch-phrase-box{
                    position: absolute;
                    top: 150px;
                    right: 50px;
                    width: 600px;
                    height: 150px;
                    border: #3C3C3C solid 1px;
                    border-left: #3C3C3C solid 10px;
                    background-color: rgba($color: #FFFFFF, $alpha: 0.8);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 4px 4px 10px #3C3C3C;
                    #catch-phrase{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 45px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    color: #3C3C3C;
                        .catch-point{
                            font-size: 130%;
                        }
                    }
                }
                #contact-btn-box{
                    position: absolute;
                    top: 864px;
                    right: 40px;
                    width: 400px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    #contact-btn{
                        border: #6b95fd solid 3px;
                        background-color: #fff;
                        border-radius: 24px;

                        width: 100%;
                        height: 100%;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 26px;
                        line-height: 39px;
                        text-align: center;
                        letter-spacing: 0.1em;
                        color: #6b95fd;
                        cursor: pointer;
                        box-shadow: 4px 4px 10px #000000;
                        a{
                            text-decoration: none;
                        }
                        &:hover{
                        border: #FFFFFF solid 3px;
                        background-color: #6b95fd;
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
                @include pad{
                    #catch-phrase-box{
                        top: 50px;
                        width: 120px;
                        height: 340px;
                        border-top: #3C3C3C solid 5px;
                        border-left: #3C3C3C solid 1px;
                        box-shadow: 2px 2px 5px #3C3C3C;
                        #catch-phrase{
                            -ms-writing-mode: tb-rl;
                            writing-mode: vertical-rl;
                            font-size: 20px;
                            line-height: 25px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            color: #3C3C3C;
                                .catch-point{
                                    font-size: 120%;
                            }
                        }
                    }
                    #contact-btn-box{
                        top: 90%;
                        right: 3%;
                        width: 280px;
                        height: 50px;
                        #contact-btn{
                            border: #6b95fd solid 1px;
                            border-radius: 18px;
                            font-size: 20px;
                            line-height: 24px;
                            box-shadow: 2px 2px 5px #000000;
                                &:hover{
                                border: #FFFFFF solid 1px;
                            }
                        }
                    }
                }
                @include sp{
                    position: relative;
                    #catch-phrase-box{
                        top: 1%;
                        right: 3%;
                        width: 80%;
                        height: auto;
                        border-top: #3C3C3C solid 1px;
                        border-left: #3C3C3C solid 5px;
                        box-shadow: 2px 2px 5px #3C3C3C;
                        #catch-phrase{
                            writing-mode: horizontal-tb;
                            font-size: 16px;
                            line-height: 25px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            color: #3C3C3C;
                                .catch-point{
                                    font-size: 120%;
                            }
                        }
                    }
                    #contact-btn-box{
                        top: auto;
                        bottom: 5%;
                        right: 3%;
                        width: 60%;
                        height: 40px;
                        #contact-btn{
                            border: #6b95fd solid 1px;
                            border-radius: 9px;
                            font-size: 16px;
                            line-height: 20px;
                            box-shadow: 2px 2px 5px #000000;
                                &:hover{
                                border: #FFFFFF solid 1px;
                            }
                        }
                    }
                }
            }
            #service{
                .service-wrapper{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .service-box{
                        margin-top: 100px;
                        .row{
                            .card{
                                position: relative;
                                min-height: 300px;
                                max-height: 350px;
                                border: 1px solid #cccccc;
                                margin: 10px;
                                overflow: hidden;
                                &::before{
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        background-color: #000000;
                                        opacity: 0.7;
                                        transition: all .3s;
                                }
                                &::before{
                                    width: 100%;
                                    height: 5px;
                                }
                                &:hover{
                                    &::before{
                                        width: 0;
                                        background-color: #cccccc;
                                    }
                                    img{
                                        opacity: 0.7;
                                    }
                                }
                                img{
                                    min-width: 200px;
                                    background-size: cover;
                                    background-position: center;
                                }
                                &-body{
                                    position: relative;
                                    margin: 4px;
                                    .card-title{
                                        position: absolute;
                                        top: 2px;
                                        left: 0;
                                        font-size: 20px;
                                        font-weight: bold;
                                    }
                                    .price-box{
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                @include pad{
                    .service-box{
                        margin-top: 50px;
                        .row + .row{
                            margin-top: 20px;
                        }
                        .row{
                            display: flex;
                            justify-content: center;
                            .card{
                                width: 90%;
                                max-height: 250px;
                                margin: 20px 0;
                                img{
                                    width: 100%;
                                }
                                &-body{
                                    margin: 6px;
                                    .card-title{
                                        font-size: 24px;
                                    }
                                    .price-box{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
                @include sp{
                    .service-box{
                        margin-top: 25px;
                        .card{
                            width: 100%;
                            height: 220px;
                            margin: 8px;
                            img{
                                width: 100%;
                            }
                            &-body{
                                margin: 6px;
                                .card-title{
                                    font-size: 24px;
                                }
                                .price-box{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
            #gallery{
                .sub-title-box{
                    margin-bottom: 100px;
                }
                .gallery-wrapper{
                    .item-box{
                        max-width: 1600px;
                        min-height: 612px;
                        display: grid;
                        gap: 4px;
                        grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
                        margin-bottom: 20px;
                        .item{
                            max-width: 190px;
                            max-height: 150px;
                            margin: 0 auto;
                                img{
                                    display: block;
                                    max-width: 100%;
                                    &:hover{
                                        margin: -2px 2px 2px -2px;
                                        box-shadow: 2px 2px 5px #3c3c3c;
                                    }
                                }
                        }
                        .big{
                            max-width: 380px;
                            max-height: 300px;
                        }
                    }
                }
                @include pad{
                    .sub-title-box{
                        margin-bottom: 50px;
                    }
                    .gallery-wrapper{
                        .item-box{
                            margin-bottom: 30px;
                            grid-template-columns: repeat(auto-fit, 100%);
                            .item{
                                    img{
                                        display: block;
                                        width: 100%;
                                        &:hover{
                                            margin: -2px 2px 2px -2px;
                                            box-shadow: 2px 2px 5px #3c3c3c;
                                        }
                                    }
                            }
                            .big{
                                max-width: 100%;
                                max-height: auto;
                            }
                        }
                    }
                }
                @include sp{
                    .gallery-wrapper{
                        .item-box{
                            max-width: 100%;
                            max-height: 100%;
                            margin-bottom: 40px;
                            .item{
                                margin: auto 0;
                                    img{
                                        display: block;
                                        width: 100%;
                                        &:hover{
                                            margin: -2px 2px 2px -2px;
                                            box-shadow: 2px 2px 5px #3c3c3c;
                                        }
                                    }
                            }
                            .big{
                                margin: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                }
            }
            #contact{
                background-color: #F0F0F0;
                .form-box{
                    margin-top: 200px;
                    display: flex;
                    justify-content: center;
                    form{
                        width: 270px;
                        display: flex;
                        flex-direction: column;
                        .form-group{
                            label{
                                font-size: 24px;
                                font-weight: bold;
                            }
                            input{
                                font-size: 18px;
                            }
                            & + .form-group{
                                margin-top: 30px;
                            }
                            text-area{
                                resize: none;
                                height: 115px;
                            }
                            #message{
                                font-size: 18px;
                                max-height: 200px;
                            }
                        }
                        .btn{
                            margin: auto;
                            margin-top: 30px;
                            font-size: 24px;
                            width: 170px;
                            height: 60px;
                        }
                    }
                }
                @include pad{
                    .form-box{
                        margin-top: 50px;
                        form{
                            width: 400px;
                            .form-group{
                                label{
                                    font-size: 20px;
                                }
                                input{
                                    font-size: 16px;
                                }
                                & + .form-group{
                                    margin-top: 45px;
                                }
                                text-area{
                                    height: 130px;
                                }
                                #message{
                                    font-size: 16px;
                                }
                            }
                            .btn{
                                margin: auto;
                                margin-top: 40px;
                                font-size: 20px;
                                width: 150px;
                                height: 50px;
                            }
                        }
                    }
                }
                @include sp{
                    .form-box{
                        form{
                            width: 100%;
                            .form-group{
                                label{
                                    font-size: 16px;
                                }
                                input{
                                    font-size: 12px;
                                }
                                & + .form-group{
                                    margin-top: 50px;
                                }
                                text-area{
                                    height: 130px;
                                }
                                #message{
                                    font-size: 16px;
                                }
                            }
                            .btn{
                                font-size: 16px;
                                width: 120px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
            #access{
                .map-box{
                    margin-top: 100px;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    iframe{
                        max-width: 100%;
                    }
                }
                .access-list-box{
                    margin-top: 120px;
                    display: flex;
                    justify-content: center;
                    .access-list{
                        li{
                            min-width: 60%;
                            max-width: 100%;
                            min-height: 56px;
                            border: 1px solid #3C3C3C;
                            border-left: 5px solid #3C3C3C;
                            display: flex;
                            align-items: center;
                            box-shadow: 2px 2px 5px #3c3c3c;;
                            p{
                                margin: auto 15px;
                                font-weight: normal;
                                font-size: 20px;
                            }
                            & + li{
                                margin-top: 15px;
                            }
                        }
                    }
                }
                @include pad{
                    .map-box{
                        margin-top: 50px;
                    }
                    .access-list-box{
                        margin-top: 100px;
                        .access-list{
                            li{
                                max-width: 90%;
                                min-width: 60%;
                                height: 56px;
                                border-left: 3px solid #3C3C3C;
                                box-shadow: 2px 2px 5px #3c3c3c;
                                p{
                                    margin: auto 10px;
                                    font-size: 14px;
                                }
                                & + li{
                                    margin-top: 24px;
                                }
                            }
                        }
                    }
                }
                @include sp{
                    .access-list-box{
                        margin-top: 20px;
                        .access-list{
                            li{
                                max-width: 100%;
                                min-width: 90%;
                                height: 48px;
                                border-left: 2px solid #3C3C3C;
                                box-shadow: 2px 2px 5px #3c3c3c;
                                p{
                                    margin-left: 5px;
                                    font-size: 12px;
                                }
                                & + li{
                                    margin-top: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}